*.vsidx
*.opendb
Tsikavi zadachi/Task1/.vs/Task1/v17/.suo
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db-shm
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db-wal
Tsikavi zadachi/Task1/.vs/Task1/v17/Solution.VC.db
Tsikavi zadachi/Task2/.vs/Task2/v17/.suo
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db-shm
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db-wal
Tsikavi zadachi/Task2/.vs/Task2/v17/DocumentLayout.json
Tsikavi zadachi/Task2/.vs/Task2/v17/Solution.VC.db
Tsikavi zadachi/Task3/.vs/Task3/v17/.suo
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db-shm
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db-wal
Tsikavi zadachi/Task3/.vs/Task3/v17/Solution.VC.db
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/.suo
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/Browse.VC.db
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/Browse.VC.db-shm
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/Browse.VC.db-wal
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/DocumentLayout.json
Tsikavi zadachi/Task4(2)/.vs/Task4(2)/v17/ipch/AutoPCH/46c25be80b562713/TASK4(2).ipch
Tsikavi zadachi/Task4(2)/Task4(2).sln
Tsikavi zadachi/Task4(2)/Task4(2)/Task4(2).vcxproj
Tsikavi zadachi/Task4(2)/Task4(2)/Task4(2).vcxproj.filters
Tsikavi zadachi/Task4(2)/Task4(2)/Task4(2).vcxproj.user
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).exe.recipe
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).ilk
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).log
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).obj
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/CL.command.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/Cl.items.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/CL.read.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/CL.write.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/link.command.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/link.read.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/link.secondary.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/link.write.1.tlog
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/Task4(2).tlog/Task4(2).lastbuildstate
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/vc143.idb
Tsikavi zadachi/Task4(2)/Task4(2)/x64/Debug/vc143.pdb
Tsikavi zadachi/Task4(2)/x64/Debug/Task4(2).exe
Tsikavi zadachi/Task4(2)/x64/Debug/Task4(2).pdb
Tsikavi zadachi/Task4/.vs/Task4/v17/.suo
Tsikavi zadachi/Task4/.vs/Task4/v17/Browse.VC.db
Tsikavi zadachi/Task4/.vs/Task4/v17/Browse.VC.db-shm
Tsikavi zadachi/Task4/.vs/Task4/v17/Browse.VC.db-wal
Tsikavi zadachi/Task4/.vs/Task4/v17/DocumentLayout.json
Tsikavi zadachi/Task4/Task4/Task4.cpp
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.ilk
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.obj
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.tlog/CL.read.1.tlog
Tsikavi zadachi/Task4/Task4/x64/Debug/vc143.idb
Tsikavi zadachi/Task4/Task4/x64/Debug/vc143.pdb
Tsikavi zadachi/Task4/x64/Debug/Task4.exe
Tsikavi zadachi/Task4/x64/Debug/Task4.pdb
Tsikavi zadachi/Task4/.vs/Task4/v17/.suo
Tsikavi zadachi/Task4/.vs/Task4/v17/Browse.VC.db
Tsikavi zadachi/Task4/.vs/Task4/v17/DocumentLayout.json
Tsikavi zadachi/Task4/Task4/Task4.cpp
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.ilk
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.obj
Tsikavi zadachi/Task4/Task4/x64/Debug/Task4.tlog/CL.read.1.tlog
Tsikavi zadachi/Task4/Task4/x64/Debug/vc143.idb
Tsikavi zadachi/Task4/Task4/x64/Debug/vc143.pdb
Tsikavi zadachi/Task4/x64/Debug/Task4.exe
Tsikavi zadachi/Task4/x64/Debug/Task4.pdb
*.db
*.json
*.json
Tsikavi zadachi/Task1/.vs/Task1/v17/.suo
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db-shm
Tsikavi zadachi/Task1/.vs/Task1/v17/Browse.VC.db-wal
Tsikavi zadachi/Task2/.vs/Task2/v17/.suo
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db-shm
Tsikavi zadachi/Task2/.vs/Task2/v17/Browse.VC.db-wal
Tsikavi zadachi/Task2/.vs/Task2/v17/DocumentLayout.json
Tsikavi zadachi/Task3/.vs/Task3/v17/.suo
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db-shm
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db-wal
/Tsikavi zadachi/Task4/Task4/Task4.vcxproj
/Tsikavi zadachi/Task4/Task4/Task4.vcxproj.filters
