*.vsidx
*.opendb
Tsikavi zadachi/Task3/.vs/Task3/v17/Browse.VC.db
Tsikavi zadachi/Task4/.vs/Task4/v17/.suo
Tsikavi zadachi/Task4/.vs/Task4/v17/Browse.VC.db
Tsikavi zadachi/Task4/.vs/Task4/v17/DocumentLayout.json
